:root {
    font-size: 16px;
    --font-family:  "Nano Pix",  "Game Paused", sans-serif, system-ui;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.announce-winner {
    font-family: var(--font-family);
    font-size: 1.3rem;
    height: 50px;
    margin-top: 25px;
    width: 200px;

    /* Items: */
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    height: 100vh;
    width: 100vw;

    /* Items */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
}


.buttons,
.players {
    width: 100%;

    /* Items: */
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}


.buttons,
.main, 
.wrapper {
    background-color: #E5E5E5;
}


.buttons > button{
    border-radius: 10px;
}


.cell {
    align-items: center;
    background-color: #FF9E66;
    border-radius: 10px;
    color: white;
    display: flex;
    font-family: var(--font-family);
    font-size: 2rem;
    justify-content: center;
}


.cell:hover {
    cursor: pointer; 
}


@font-face {
    font-family: "Game Paused";
    src: 
        url(fonts/game-paused-font/gamepauseddemoregular-rpmy6-webfont.woff2),
        url(fonts/game-paused-font/gamepauseddemoregular-rpmy6-webfont.woff);
}


@font-face {
    font-family: "Nano Pix";
    src: 
        url(fonts/nano-pix-font/nanopixdemoregular-1gg7b-webfont.woff2),
        url(fonts/nano-pix-font/nanopixdemoregular-1gg7b-webfont.woff);
}


.gameBoard {
    background-color: white;
    height: 300px;
    width: 300px;

    /* Item */
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.gameBoard, 
#startDialog {
    border-radius: 10px;
}


.gridDialog, 
#startDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid  #6d66ff;
    border-style: none;
}


.gridDialog::backdrop {
    background-color: #E5E5E5;
}


h1 {
    align-items: center;
    background-color: #6d66ff;
    color: #FF9E66;
    display: flex;
    font-family: var(--font-family);
    font-size: 3rem;
    justify-content: center;  
    letter-spacing: 0.3rem;
    visibility: visible;

}


.next-round, 
.reset-button {
    background-color: #FF9E66;
    border-style: none;
    color: white;
    font-family: var(--font-family);
    font-size: 1rem;
    height: 50px;
    width: 100px;
}


.next-round:hover,
.reset-button:hover {
    cursor: pointer;
}


.player {
    background-color: white;
    height: 50px;
    width: 100px;

    /* Items: */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1.1rem;
}


.player1 {
    background-color: #FF9E66;
}


#startButton {
    background-color: #6d66ff;
    border-radius: 10px;
    border-width: 0px;
    color:  #FF9E66;
    font-family: var(--font-family);
    font-size: 2rem;
    height: 100px;
    letter-spacing: 0.3rem;
    width: 250px;
}


#startButton:hover {
    background-color: #59A8FF;
    cursor: pointer;
}


.wrapper {
    display: flex;
    flex-direction: column; /* Stacks the children vertically */
    gap: 10px;
    align-items: center; /* Centers the children horizontally */
    justify-content: space-between; /* Spaces the children evenly apart vertically */
}